@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    font-family: "Zen Dots";
    font-weight: 800;
    font-size: 172px;
    padding-top: 2%;
}

button {
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}

button:hover {
    background-color: black;
    color: aliceblue;
}